{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/homeVendedor.css' %}"> 
    <title>Ferteliz</title>
</head>
<body>
  <!-- Navbar do projeto -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary page-nav">
    <div class="container-fluid page-navbar">
      <a class="navbar-brand" href="#"><img src="{% static 'imgs/logo.png' %}" alt="Logo Ferteliz" class="brand-image" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item right-border">
            <a class="nav-link" aria-current="page" href="{% url 'homeVendedor' %}">Início</a>
          </li>
          <li class="nav-item right-border left-margin">
            <a class="nav-link" href="mailto:ferteliz.contato@gmail.com">Fale conosco</a>
          </li>
          
          <li class="nav-item left-margin">
            <a class="nav-link" href="#SobreNos">Sobre nós</a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link" style="margin-left: 680px;" href="{% url 'profileVendedor' %}">Área do usuário</a>
            <a class="navbar-brand-vector" href="{% url 'profileVendedor' %}">  <img src="{% static 'imgs/vector1.png' %}" alt="Logo Ferteliz" class="brand-image-vector" ></a>        
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Fim da navbar do projeto -->

  <main>
    <div class="container-xxl main-page-container">
      <div class="main-container_left">
        <div class="container-xxl left_container">
          <h2 class="display-2 main_title">Ferteliz</h2>
          
        </div>
        <p class="welcome-message">Bem-vindo, venda seus produtos e faça a diferença.</p>
      </div>
      
      <div class="main-container_right">
     <div class="container-xxl right_container">
      <img class="container_right-image" src="{% static 'imgs/Imagem-da-home.png' %}" alt="" height="499px" width="605px">
    </div>
      </div>
    </div>

    <section class="page-section-1">
      <div class="section1-title_container"> 
      <h1>Comece já!</h1>
      <h2 class="section1-link-text"> Clique <a href="{% url 'cadastroProdutos' %}" class="link-text">[aqui]</a> e cadastre seus produtos!</h2>
    </div>

    <div class="section1-title_container2">
      <h1>Seja um distribuidor</h1>
    </div>

    <div class="container products-section">
      <img src="{% static 'imgs/green-fornecedor-main-vector.png' %}" alt="" class="fornecedor-main-vector">
      <div class="vendedor-info-container">
      <p><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
      </svg> Sendo fornecedor você terá direito de vender seus produtos de forma segura e poderá divulgar seus produtos como forma de cresimento em sua carreira;</p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
      </svg> Caso esteja começando na área esta pode ser uma óitima oportunidade de começar seu negócio, transportando seus produtos sem sair de casa;</p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
      </svg> Seja avaliado pelos seus clientes para alavancar seu sucesso e conseguir novos compradores.</p>
      </div>
      </div>

    </div>
    </section>

    <section class="page-section-2">
      <div class="container section2-title_container">
        <h1>Explicando como funciona</h1>
      </div>

      <div class="container section2-card-container">

        <div class="card" style="width: 18rem;">
          <img src="{% static 'imgs/green-fornecedor-card-1.png' %}" class="card-img-top" alt="imagem do card 1">
          <div class="card-body">
            <p class="card-text">Clique no icone de vendas para cadastrar os seus produtos.</p>
          </div>
        </div>

          <div class="card" style="width: 18rem;">
            <img src="{% static 'imgs/green-fornecedor-card-2.png' %}" class="card-img-top" alt="imagem do card 2">
            <div class="card-body">
              <p class="card-text">Dê um nome, uma descrição e uma imagem de seu produto. Essa será a visão do seu cliente.</p>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="{% static 'imgs/green-card2-image.png' %}" class="card-img-top" alt="imagem do card 3">
            <div class="card-body">
              <p class="card-text">Após sua venda os produtos serão analisados e validados, então você deverá envia-lo para entrega.</p>
            </div>
          </div>
          
          
          <div class="card" style="width: 18rem;">
            <img src="{% static 'imgs/green-fornecedor-card-3.png' %}" class="card-img-top" alt="imagem do card 4">
            <div class="card-body">
              <p class="card-text">Após efetuada a compra, o cliente poderá avaliar o produto.</p>
            </div>
          </div>
      </div>
    </section>

    <section id="SobreNos" class="page-section-3">
      <div class="container container-xxl section3-container">
        <h2>Sobre nós</h2>
        <p>Somos uma equipe que busca contribuir com o objetivo de promover a redução da fome, a segurança alimentar e apoiar os pequenos agricultores com base na ODS (Objetivo de Desenvolvimento Sustentável) de número 2 - Fome zero.</p>
      </div>
    </section>
  </main>

<footer>
<div class=" footer-container">
<span class="copyright">© 2024 Ferteliz. Todos os direitos reservados.</span>

<div class="footer-contact_container">
<span>Telefone: (19) 9986-4556 </span>
<span>Email: Ferteliz.contato@gmail.com</span>
</div>

<div class="footer-icon_container">
<img src="{% static 'imgs/insta-icon.svg' %}" alt="instagram">
<img src="{% static 'imgs/face-icon.svg' %}" alt="facebook">
<img src="{% static 'imgs/linkedin-icon.svg' %}" alt="linkedin">
</div>
</div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>