{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .table td,
        .table th {
            padding: 1rem; /* Ajuste o padding conforme necessário */
            vertical-align: top; /* Alinhar o conteúdo ao topo da célula */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Lista de Produtos</h1>
        {% if produtos %}
            <p>Total de produtos: {{ produtos|length }}</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.name }}</td>
                        <td>{{ produto.description }}</td>
                        <td>{{ produto.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Não há produtos cadastrados.</p>
        {% endif %}
    </div>
</body>
</html>
