@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Akshar:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.page-nav {
    padding-top: 0;
    padding-bottom: 0;
    
}

.nav-link {
    color: #FFFFFF;
    font-family: "Quicksand";
    font-weight: 500;
    font-size: 18px;
    
}



.right-border {
    border-right: 1px solid #FFFFFF;
    
}

.left-margin {
    margin-left: 15px;
}

.page-navbar {
    height:85px;
    background-color: #1D7249;
    
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.brand-image {
    height: 87px;
    
}

.signup-btn{
    font-family: 'Quicksand';
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #FFFFFF;
}

.main-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #254B11;
    margin-top: 35px;
    border-radius: 45px;
    height: 500px;
    padding-left: 0;
    padding-right: 0;
}


.main-container_left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #254B11;
    height: 100%;
    width: 660px;
    border-radius: 45px 0 0 45px;
    background-color: white;
}

.main-container_left .left_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 154px;
    width: 389px;
    border: 1px solid;
    border-radius: 35px;
    background-color: #59B528;
}

.main-container_right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 660px;
    padding: 0;
}

.main-container_right .right_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.right_container img {
    border-radius: 0 45px 45px 0;
    
}



.main_title {
    font-family: "Adamina";
    color: #000000;
}

.page-section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section1-title_container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.section1-title_container h1 {
    text-align: center;
    color: #254B11;
    font-family: "Poppins";
    
}

.section1-title_container h2 {
    text-align: center;
    color: #000000;

    font-family: "Poppins";
}

.section1-title_container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section1-title_container2 h1 {
    color: #254B11;
}

.products-section {
    display: flex;
    flex-direction: column;
    border: 1px solid#254B11;
    border-radius: 70px;
    padding-top: 10px;
    margin-top: 30px;
    color: #254B11;
}

.products-section span {
    color: #254B11;
    font-family: "Questrial";
    font-size: 36px;
    margin-left: 25px;
}

.products-group {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 50px;
}

.product-container {
    padding-top: 10px;
    align-items: center;
    border: none;
    
}

.product-container img {
    width: 240px;
    height: 200px;
}

.card-body .product-title {
    font-family: 'Questrial', sans-serif;
    color: #254B11;
    font-size: 25px;
}

.card-body .product-price {
    font-family: 'Questrial', sans-serif;
    color: #254B11;
    font-size: 20px;
}

.page-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.page-section-2 .section2-title_container {
    color: #254B11;
    text-align: center;
}

.section2-card-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 5px;
}

.section2-card-container .card {
    font-family: 'Quicksand';
    padding-top: 40px;
    align-items: center;
    height: 320px;
    width: 350px;
    border: solid 1px #254B11;
    border-radius: 45px;
    color: #254B11;
    text-align: center;
    font-weight: 600;
}

.section2-card-container .card img{
    max-height: 160px;
    max-width: 160px;
}

.section3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 403px;
    align-items: center;
    text-align: center;
    border: solid 1px #254B11;
    border-radius: 40px;
    margin-top: 80px;
}

.section3-container h2{
    color: #254B11;
    font-size: 50px;
    font-family: 'Akshar';
}

.section3-container p{
    color: #254B11;
    font-family: 'Quicksand';
    font-size: 36px;
    margin-top: 50px;
    font-weight: 400;
}



.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 294;
    width: 100%;
    border: 1px solid;
    border-radius: 40px 40px 0 0;
    background-color: #353739;
}

.footer-container .copyright{
    margin-top: 30px;
    color: #FFFFFF;
    font-family: 'Inter';
}

.footer-contact_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer-contact_container span {
    font-family: 'Inter';
    color: #FFFFFF;
    font-family: 'Inter';
}

.footer-icon_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.footer-icon_container img{
    height: 57px;
    width: 60px;
}

@media only screen and (max-width: 1000px) {
    .main-page-container{
        display: none;
    }
}