@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Akshar:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

*{
    padding: 0;
    margin: 0;
}

.page-nav {
    padding-top: 0;
    padding-bottom: 0;
    
}

.nav-link {
    color: #FFFFFF;
    font-family: "Akshar";
    font-weight: 500;
    font-size: 18px;
    
}



.right-border {
    border-right: 1px solid #FFFFFF;
    
}

.left-margin {
    margin-left: 15px;
}

.page-navbar {
    height:85px;
    background-color: #1D7249;
    
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.brand-image {
    height: 87px;
    
}

.signup-btn{
    font-family: 'Akshar';
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
    padding-right: 70px;
    
}

.main-page-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #59B528;
    margin-top: 50px;
    border-radius: 45px;
    height: 500px;
    padding-left: 0;
}

.main-container_left{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 3px solid #59B528;
    height: 100%;
    width: 660px;
    border-radius: 45px 0 0 45px;
}

.input-text{
    font-family: 'Akshar';
}

.main-container_left .left_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 154px;
    width: 389px;
    border: 1px solid;
    border-radius: 35px;
    background-color: #59B528;
}

.main-container_right{
    display: flex;
    align-items: center;
    justify-content: center;    
    
}

.main_title{
    font-family: "Akshar";
    color: #000000;
}

.page-section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1-title_container{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.section1-title_container h1{
    
 text-align: center;
 color: #ECC345;
 text-shadow: -1px 2px 3px rgba(0,0,0,0.96);
-webkit-text-stroke-width: 0.8px;
-webkit-text-stroke-color: #000000;
font-family: "Akshar";
}

.section1-title_container h2{
    text-align: center;
    font-family: "Akshar";
    letter-spacing: 3px;
    font-size: 40px;
}

.section1-title_container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section1-title_container2 h1{
    color: #1D7249;
    -webkit-text-stroke-width: 0.8px;
}

.login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 414px;
    height: 66px;
    font-family: 'Akshar';
    font-size: 40px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 200px;
}

.login-btn:hover{
    border: 1px solid;
}


/* Estilo para o botão de cadastro */
.botao-cadastro {
    background-color: #ECC345; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Ajusta o padding para tornar os lados menores */
    border-radius: 15px; /* Define as bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave para mudança de cor */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

/* Estilo para o botão quando o mouse está sobre ele */
.botao-cadastro:hover {
    background-color: #d4ab2e; /* Nova cor de fundo ao passar o mouse */
}

.button{
    width: 100px;
    background-color:#1D7249;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;

    
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 100%;
    border: 1px solid;
    border-radius: 40px 40px 0 0;
    background-color: #353739;
}

.footer-container .copyright{
    margin-top: 30px;
    color: #FFFFFF;
    font-family: 'Akshar';
}

.footer-contact_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.footer-contact_container span {
    font-family: 'Akshar';
    color: #FFFFFF;
    
}

.footer-icon_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.footer-icon_container img{
    height: 57px;
    width: 60px;
}
